<table border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Ses factures</th>
        <th>Age</th>
        <th>Adresse</th>
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        <tr>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
            <td><a href="/clients/{{id}}/factures/xlsx">Télécharger toutes ses factures</a></td>
            <td>{{age}}</td>
            <td>{{adresse}}</td>
        </tr>
    {{/clients}}
    </tbody>
</table>
